In this notebook, we will analyze the provided dataset to uncover patterns, trends, and insights. We will use various data analysis techniques, including data cleaning, visualization, and statistical methods, to better understand the underlying information and support data-driven decision making.

In [2]:
# Import the pandas library for data manipulation and analysis
import pandas as pd

# Load the movie dataset from the specified CSV file into a DataFrame
movies_df = pd.read_csv("data/TMDB_movie_dataset_v11.csv")

In [3]:
# Display the first few rows of the DataFrame to get an overview of the data
movies_df.head()
movies_df.shape
movies_df.info()
movies_df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1251666 entries, 0 to 1251665
Data columns (total 24 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   id                    1251666 non-null  int64
 1   title                 1251653 non-null  object
 2   vote_average          1251666 non-null  float64
 3   vote_count            1251666 non-null  int64
 4   status                1251666 non-null  object
 5   release_date          1013760 non-null  object
 6   revenue               1251666 non-null  int64
 7   runtime               1251666 non-null  int64
 8   adult                 1251666 non-null  bool
 9   backdrop_path         323415 non-null   object
 10  budget                1251666 non-null  int64
 11  homepage              130709 non-null   object
 12  imdb_id               629537 non-null   object
 13  original_language     1251666 non-null  object
 14  original_title        1251653 non-null  object
 15  overview              982133 non-null   object
 16  popularity            1251666 non-null  float64
 17  poster_path           834761 non-null   object
 18  tagline               175472 non-null   object
 19  genres                726959 non-null   object
 20  production_companies  550816 non-null   object
 21  production_countries  672620 non-null   object
 22  spoken_languages      695564 non-null   object
 23  keywords              325241 non-null   object
dtypes: bool(1), float64(2), int64(5), object(16)
memory usage: 220.8+ MB

,id,vote_average,vote_count,revenue,runtime,budget,popularity
count,1.251666e+06,1.251666e+06,1.251666e+06,1.251666e+06,1.251666e+06,1.251666e+06,1.251666e+06
mean,8.058721e+05,1.730586e+00,1.713922e+01,6.610226e+05,4.612395e+01,2.565805e+05,1.144545e+00
std,4.294870e+05,2.951802e+00,3.035712e+02,1.881007e+07,6.134405e+01,5.211272e+06,7.236783e+00
min,2.000000e+00,0.000000e+00,0.000000e+00,-1.200000e+01,-2.800000e+01,0.000000e+00,0.000000e+00
25%,4.453852e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,6.000000e-01
50%,8.154695e+05,0.000000e+00,0.000000e+00,0.000000e+00,1.900000e+01,0.000000e+00,6.000000e-01
75%,1.189383e+06,4.000000e+00,1.000000e+00,0.000000e+00,8.700000e+01,0.000000e+00,8.410000e-01
max,1.509144e+06,1.000000e+01,3.449500e+04,5.000000e+09,1.440000e+04,1.000000e+09,2.994357e+03

In [4]:
# Check for missing values in each column of the DataFrame
movies_df.isnull().sum()

id                            0
title                        13
vote_average                  0
vote_count                    0
status                        0
release_date             237906
revenue                       0
runtime                       0
adult                         0
backdrop_path            928251
budget                        0
homepage                1120957
imdb_id                  622129
original_language             0
original_title               13
overview                 269533
popularity                    0
poster_path              416905
tagline                 1076194
genres                   524707
production_companies     700850
production_countries     579046
spoken_languages         556102
keywords                 926425
dtype: int64

In [5]:
# Display the columns of the DataFrame to understand its structure
movies_df.columns

Index(['id', 'title', 'vote_average', 'vote_count', 'status', 'release_date',
       'revenue', 'runtime', 'adult', 'backdrop_path', 'budget', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'tagline', 'genres',
       'production_companies', 'production_countries', 'spoken_languages',
       'keywords'],
      dtype='object')

In [9]:
movies_df.head()

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,backdrop_path,...,original_title,overview,popularity,poster_path,tagline,genres,production_companies,production_countries,spoken_languages,keywords
0,27205,Inception,8.364,34495,Released,2010-07-15,825532764,148,False,/8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg,...,Inception,"Cobb, a skilled thief who commits corporate es...",83.952,/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,Your mind is the scene of the crime.,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili","rescue, mission, dream, airplane, paris, franc..."
1,157336,Interstellar,8.417,32571,Released,2014-11-05,701729206,169,False,/pbrkL804c8yAv3zBZR4QPEafpAR.jpg,...,Interstellar,The adventures of a group of explorers who mak...,140.241,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,Mankind was born on Earth. It was never meant ...,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English,"rescue, future, spacecraft, race against time,..."
2,155,The Dark Knight,8.512,30619,Released,2008-07-16,1004558444,152,False,/nMKdUUepR0i5zn0y1T4CsSB5chy.jpg,...,The Dark Knight,Batman raises the stakes in his war on crime. ...,130.643,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,Welcome to a world without rules.,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America","English, Mandarin","joker, sadism, chaos, secret identity, crime f..."
3,19995,Avatar,7.573,29815,Released,2009-12-15,2923706026,162,False,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,...,Avatar,"In the 22nd century, a paraplegic Marine is di...",79.932,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,Enter the world of Pandora.,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom","English, Spanish","future, society, culture clash, space travel, ..."
4,24428,The Avengers,7.710,29166,Released,2012-04-25,1518815515,143,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,...,The Avengers,When an unexpected enemy emerges and threatens...,98.082,/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg,Some assembly required.,"Science Fiction, Action, Adventure",Marvel Studios,United States of America,"English, Hindi, Russian","new york city, superhero, shield, based on com..."

In [ ]:
from collections import Counter
import matplotlib.pyplot as plt
import seaborn as sns

all_genres = sum(movies_df['genres'].str.split(',').dropna().tolist(), [])
genre_counts = Counter(all_genres)

top_genres = pd.DataFrame(genre_counts.items(), columns=["Genre", "Count"])
top_genres = top_genres.sort_values("Count", ascending=False)

sns.barplot(data=top_genres.head(10), x="Genre", y="Count", palette="viridis")
plt.title("Top Genres in TMDb Movies")
plt.xticks(rotation=45)
plt.show()